@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, #aea4e3, #d3ffe8);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{   
  text-decoration: none;
  color: inherit;
}
li{list-style: none;}

#root{
  width: 100%;
  height: 100%;
}
.app {
  display: flex;
  width: 100%;
  height: 100%;
}
/*--------------------- SIDEBAR SECTION CODE------------------------- */
.sidebar {
  background: #0009;
  color:#999;
  min-width: 258px;
  min-height: 100vh;

}
.nav-item:hover, .active{
  text-decoration: none;
  color: #fff;
  background-color: #5061c0;
}
.logo-name{
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
.side-navigation{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap:15px;
}
.nav-item{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.nav-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: inherit;
}

.sidebar li:hover > a, .sidebar li.active, .sidebar li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #5061c0;
}

.nav-text {
  font-family: "Mulish", sans-serif;
}
.active{
  font-weight: bold;
}
.active>div{
  background-color: #5061c0;
}

.logout{
  position: absolute;
  bottom: 3%;
  cursor: pointer;
  width: 100%;
}
/*--------------------- SIDEBAR SECTION CODE------------------------- */


/*---------------------- Analytics Page------------------------------- */

.analytics{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 5%;
  padding-top: 50px;
  padding-right: 40px;
}
.analytics_form_container{
  margin-top: 40px;
  min-width: 200px;
}

.label_input_container{
  display: flex;
  gap: 5px;
  flex-direction: column;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.label_input_container>select{
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}
.analytics_form{
  margin-top: 20px;
}
.canvas_container{margin-top: 45px;margin-right: 10%;}
.canvas-info-container{display: flex;align-items: center;justify-content: space-between;margin-top: 20px;}
.canvas-info-container>span{font-size: 16px;}
.lineCanvas,.regionCanvas{
  display: flex;
  flex-direction: column;
}
.lineCanvas button,.regionCanvas button{
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 20px;

}
.canvas-btn-container{
  display: flex;
  gap: 20px;
}
.canvas{height: 640px;width: 640px;}

/* --------------MEDIA QUERY -----------------------*/

@media only screen and (max-width: 1360px) {
  
.analytics{
 flex-direction: column;

}

.canvas_container {
  margin-top: 25px;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;

}
.canvas-info-container>span{padding-right: 50px;}
.lineCanvas{align-items: center;}
.regionCanvas{  align-items: center;}


/* MQ for table */

.table_container{  width: 760px; padding: 0 !important;}

}
/*---------------------- Analytics Page------------------------------- */

/*---------------------- Event Monitor Page------------------------------- */
.table_container {
  height: 500px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.main_page{width: 100%;}
.wrapper{display: flex;justify-content: center;width: 100%;}
th{   top: 0;  position: sticky;}
td,th {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

thead th {
  background-color: #55608f;
}
tbody tr:hover {  background-color: rgba(255, 255, 255, 0.3);}

/* ::-webkit-scrollbar {
  width: 0.5em;
} */

/* Hide the vertical scrollbar */
/* ::-webkit-scrollbar-thumb {
  background-color: transparent;
} */

/*---------------------- Event Monitor Page------------------------------- */
