@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Ubuntu:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, #aea4e3, #d3ffe8);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{   
  text-decoration: none;
  color: inherit;
}
li{list-style: none;}

#root{
  width: 100%;
  height: 100%;
}
.app {
  display: flex;
  width: 100%;
  height: 100%;
}
/*--------------------- SIDEBAR SECTION CODE------------------------- */
.sidebar {
  background: #0009;
  color:#999;
  min-width: 258px;
  min-height: 100vh;

}
.nav-item:hover, .active{
  text-decoration: none;
  color: #fff;
  background-color: #5061c0;
}
.logo-name{
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
.side-navigation{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap:15px;
}
.nav-item{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.nav-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: inherit;
}

.sidebar li:hover > a, .sidebar li.active, .sidebar li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #5061c0;
}

.nav-text {
  font-family: "Mulish", sans-serif;
}
.active{
  font-weight: bold;
}
.active>div{
  background-color: #5061c0;
}

.logout{
  position: absolute;
  bottom: 3%;
  cursor: pointer;
  width: 100%;
}
/*--------------------- SIDEBAR SECTION CODE------------------------- */


/*---------------------- Analytics Page------------------------------- */

.analytics{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 5%;
  padding-top: 50px;
  padding-right: 40px;
}
.analytics_form_container{
  margin-top: 40px;
  min-width: 200px;
}

.label_input_container{
  display: flex;
  gap: 5px;
  flex-direction: column;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.label_input_container>select{
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}
.analytics_form{
  margin-top: 20px;
}
.canvas_container{margin-top: 45px;margin-right: 1.15%;margin-left: 1%;}
.canvas-info-container{display: flex;align-items: center;justify-content: space-between;margin-top: 20px;}
.canvas-info-container>span{font-size: 16px;}
.lineCanvas,.regionCanvas{
  display: flex;
  flex-direction: column;
}
.lineCanvas button,.regionCanvas button{
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 20px;

}
.canvas-btn-container{
  display: flex;
  gap: 20px;
}
.canvas{height: 640px;width: 640px;}

.line_region_row_table{margin-top: 35px;}

.line_region_row_table_edit_input{padding: 0;}
.line_region_row_table_edit_input>input{padding:12px 15px; border: none;background-color: transparent; font-weight: 600;  font-size: 16px;  font-family: 'Ubuntu'; text-align: center;}

/*---------------------- Analytics Page------------------------------- */

/*---------------------- Event Monitor Page------------------------------- */
.table_container {
  height: 500px;
  overflow-y: scroll;
  overflow-x: scroll;
  max-width: 1240px;
}
.main_page{width: 100%;}
.wrapper{display: flex;justify-content: center;width: 100%;}
th{   top: 0;  position: sticky;color: white !important;}
td,th {
  padding: 12px;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: rgba(255, 255, 255, 0.2);
  font-size: large;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
td{
  padding-left: 30px;
  padding-right: 30px;
}

thead th {
  background-color: #495bc2;
}
tbody tr:hover {  
  background-color: rgba(255, 255, 255, 0.4);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(148, 160, 228); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #495bc2; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9aa3da; 
}

/*---------------------- Event Monitor Page------------------------------- */

/*---------------------- Get Config Table Page----------------------------- */
.getConfigTable {
  width: 91%; padding: 0 !important;
}
/*---------------------- Get Config Table Page------------------------------- */


/* Camera Config css */
.camera_config{padding-left: 3%;}
.page_title{margin-top: 90px;}

.camera_form{
  margin-top: 25px;
  margin-left: 1%;
  
}
.camera_form>select{
  font-size: 17px;
  padding: 5px;
  padding-left: 5px;
  padding-right: 195px;
  border-radius: 5px;
}
/* ---------------------------------------------- */
.cam_config_sub_form{margin-top: 25px;margin-left: 12px;display: flex;flex-direction: column;gap:15px}
.cam_config_sub_form>button{
  text-align: center;
  font-size: 17.5px;
  padding: 5px;
  width: 463px;
  border-radius: 5px;
  font-size: 17px;
  border: none;
  background-color: #3f51b5;
  color: white;
  cursor:pointer
}
.sub_form_label_input{display: flex;gap:20px;align-items: center;}
.sub_form_label_input>label{padding: 5px; width: 210px;font-size: 18px;}
.sub_form_label_input>input{  padding: 3px;padding-left: 11px;padding-right: 11px;  border-radius: 3px;border: #999;font-size: 16px;}
.sub_form_label_input>select{  padding: 3px; border-radius: 2px;border: #999;  font-size: 17px;  padding: 3px;  padding-left: 5px;  padding-right: 53px;  border-radius: 5px;text-indent: 0px;}
.sub_form_label_input>button{  padding: 3px;padding-left: 30px;padding-right: 30px;  border-radius: 3px;border: #999;}
.sub_form_label_input>button{  padding: 3px;padding-left: 30px;padding-right: 30px;  border-radius: 3px;border: #999;}
.configContainer{margin-top: 20px;margin-left: 10px;}
/* ---------DASHBOARD----------- */

.dash-label{
  width: 250px !important;
}
.dashboard{margin-top: 85px;padding-left: 50px;}
.dashboard>form>button{width: 500px;}
/* ---------DASHBOARD----------- */
.center-align{
  display: flex;
  justify-content: center;
}
/* ------------------------EVENT MONITOR-------------- */
.event_monitor_form_container{
  margin-top: 92px;
  margin-left: 60px;
  margin-bottom: 50px;
}
.event_monitor_form_container>form>div>label{
  width: 150px;
}
.event_monitor_form_container>form>div>select{
  padding-right: 15px;
  width: 280px;
  padding-left: 0px;
  text-indent: 2px;
  font-size: 15px;
}
.event_monitor_form_container>form>button{width: 435px;}
.flex-row{flex-direction: row;}
/* --------------MEDIA QUERY -----------------------*/


@media only screen and (max-width: 1360px) {
  
  .analytics{
   flex-direction: column;
  
  }
  
  .canvas_container {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  
  }
  .canvas-info-container>span{padding-right: 50px;}
  .lineCanvas{align-items: center;}
  .regionCanvas{  align-items: center;}
  
  .table_container{  width: 768px; padding: 0 !important;}
  
  .line_region_row_table{display: flex;justify-content: center;}
  /* MQ for table */
    
  }
  
  @media only screen and (max-width: 1540px) {
    
    /* MQ for table */
    .table_container{  width: 1000px; padding: 0 !important;}
    
    }